.logo{
 align-items: center;
 display: flex;
 padding: 0px;
 margin-top: 0px;
}
body{
    background-color: rgb(205, 242, 255);
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}  
#birthdays {
    text-align: center;
    margin-top: 50px;
}
h2{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
h3{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.testi{
    background-color: rgb(243, 255, 192);
}
#foot{
    background-color: rgb(33, 54, 58);
}
#intro{
    font-weight: bold;
    font-size: 15px;
    color: #300d1cd6;
}
#heading{ font-weight: bolder;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 25rem;
}
h3{
    background-color:#f6bbc3;
}